
## <summary>policy for tradeplus_coin</summary>


########################################
## <summary>
##	Transition to tradeplus_coin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tradeplus_coin_domtrans',`
	gen_require(`
		type tradeplus_coin_t, tradeplus_coin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tradeplus_coin_exec_t, tradeplus_coin_t)
')


########################################
## <summary>
##	Execute tradeplus_coin server in the tradeplus_coin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tradeplus_coin_initrc_domtrans',`
	gen_require(`
		type tradeplus_coin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, tradeplus_coin_initrc_exec_t)
')


########################################
## <summary>
##	Search tradeplus_coin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tradeplus_coin_search_lib',`
	gen_require(`
		type tradeplus_coin_var_lib_t;
	')

	allow $1 tradeplus_coin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read tradeplus_coin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tradeplus_coin_read_lib_files',`
	gen_require(`
		type tradeplus_coin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, tradeplus_coin_var_lib_t, tradeplus_coin_var_lib_t)
')

########################################
## <summary>
##	Manage tradeplus_coin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tradeplus_coin_manage_lib_files',`
	gen_require(`
		type tradeplus_coin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, tradeplus_coin_var_lib_t, tradeplus_coin_var_lib_t)
')

########################################
## <summary>
##	Manage tradeplus_coin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tradeplus_coin_manage_lib_dirs',`
	gen_require(`
		type tradeplus_coin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, tradeplus_coin_var_lib_t, tradeplus_coin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a tradeplus_coin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tradeplus_coin_admin',`
	gen_require(`
		type tradeplus_coin_t;
		type tradeplus_coin_initrc_exec_t;
		type tradeplus_coin_var_lib_t;
	')

	allow $1 tradeplus_coin_t:process { ptrace signal_perms };
	ps_process_pattern($1, tradeplus_coin_t)

	tradeplus_coin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 tradeplus_coin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, tradeplus_coin_var_lib_t)

')

